doctype html
html(ng-app='nodesand')
  head
    title= title
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/popup.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='/javascripts/angular/angular.js')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script(src='/javascripts/ui-bootstrap-tpls-0.13.0.js')

    script(src='/javascripts/ng-file-upload.js')
    script(src='/javascripts/ng-file-upload-shim.js')
    script(src='/javascripts/angular-user-edit.js')
  body
    block content
