body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img.logo.preview {
  border-radius:25px;
  width:50px;
}
img.banner.preview {
  border-radius:6px;
  max-width:360px;
}

.clearBoth { clear:both; }
